<h3 class="heading">Style追加</h3>

<div class="container">
<div class="row">

<div class="col-md-1"></div>


<div class="col-md-10">

<%= form_with model:@style, url:'/styles', local:true do |f| %>

<h4>画像</h4>
<%= f.attachment_field :image %>


<table class="table table-striped">
<tr>
<th>名前</th>
<td><%= f.text_field :name %></td>
</tr>

<tr>
<th>詳細</th>
<td><%= f.text_area :detail %></td>
</tr>

</table>

<%= f.submit '保存' %>


<% end %>

</div>

<div class="col-md-1"></div>

</div>
</div>