 <h2 class="heading mt-3">Results Search</h2>

 <div class="row mt-5">

    <div class="col-md-1"></div>

    <div class="col-md-10">

<table class="table table-hover table-inverse">
   <thead>
     <tr>
      <th></th>
      <th>Style Name</th>
      <th>Detail</th>
      <th>User</th>
     </tr>
   </thead>
   <tbody>
      <% @styles.each do |style| %>
       <tr>
        <td>
          <%= link_to style_path(style) do %>
           <%= attachment_image_tag style, :image, format: 'jpeg', size: "105x140", class: "mr-5" %>
         <% end %>
        </td>
        <td>
         <%= link_to style.name, style, class: "style_#{style.id}" %>
        </td>
        <td><%= style.detail %></td>
         <td>
         <%= link_to(style.user) do %>
         <%= attachment_image_tag(style.user, :image, :fill, 100, 100, fallback: "no-image-mini.jpg") %>
         <%= style.user.name %>
         <% end %>
        </td>
       </tr>
      <% end %>
   </tbody>
   </table>


  </div>

    <div class="col-md-1"></div>

</div>