<div class="container">
<h3 class="heading">スタイル詳細</h3>


<div class="row">
<div class="col-md-3"></div>
<div class="col-md-3">
<%= attachment_image_tag @style, :image, format: 'jpeg', size:"300x300" %>
</div>


<div class="col-md-3 mt-5">

<div style="display:block"><h4><%= @style.name %></h4></div>

<div style="display:block"><h5><%= @style.detail %></h5></div>




<div class="favorite-btn"> <%= render 'favorite-btn', style: @style %></div>

<div class="comments">
  <p>コメント件数:<%= @style.comments.count %></p>
  <% @style.comments.each do |comment| %>
   <p>ユーザー画像</p>
   <%= comment.user.name %>
   <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>

  <% if comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", style_comment_path(comment.style, comment), method: :delete %>
  </div>
  <% end %>

   <% end %>
</div>


<div class="new-comment">
 <%= form_with(model: [@style,@comment], local: true) do |f| %>
   <%= f.text_area :body, rows:'5', placeholder: "コメントをここに" %>
   <%= f.submit "送信する" %>
  <% end %>
</div>



<% if @style.user_id == current_user.id  %>
<%= link_to "編集", edit_style_path(@style.id) %>
<%= link_to "削除", style_path(@style.id), method: :delete %>
<% else %>
<% end %>

</div>

<div class="col-md-3"></div>

</div>


</div>