
<div class="main-visual">
<h1> Welcome to Your Closet</h1>

</div>






<div class="about-closet">
<h2>What about <span>"Your Closet"?</span></h2>
  <div class="about-content">


  <div class="about-box about-item1">
    <i class="fas fa-shopping-bag"></i>
  <h3>ファッションアイテムの整理・管理</h3>
  </div>

  <div class="about-box about-item2">
    <i class="fas fa-tshirt"></i>
<h3>毎日のコーデの参考</h3>

    </div>

  <div class="about-box about-item3">
    <i class="fas fa-child"></i>
    <h3>ユーザーやコーデをお気に入り登録</h3>

    </div>
  </div>




</div>

<div class="collection">
<div class="box-1">
  <h3>いつでも、どこでも、<br>手元にクローゼットを</h3>
  <h6>新しい服を買ったら、似たようなものをすでに持ってた！なんてことは無くなります</h6>

</div>
<div class="box-2"></div>


</div>

<div class="cordinate">
<div class="a">
  <div class="b"><img class="c" src="<%= asset_path "5086926_s.jpg" %>" /></div>
    <div class="b"><img class="c" src="<%= asset_path"4771511_s.jpg" %>" /></div>
    <div class="b"><img class="c" src="<%= asset_path"22026459_s.jpg" %>" /></div>
    <div class="b"><img class="c" src="<%= asset_path"4906649_s.jpg" %>" /></div>
    <div class="b"><img class="c" src="<%= asset_path"5085364_s.jpg" %>" /></div>
    <div class="b"><img class="c" src="<%= asset_path"4906963_s.jpg" %>" /></div>
</div>
<div class="cordinate-system">
<h3>日々のコーディネートのヒントに</h3>
<h6>たくさんの着こなしの中からあなたにあったスタイルを見つけよう！</h6>
</div>


</div>




<div class="check-user">

<div class="box-3">
  <h3>お気に入りのコーデ、ユーザーをいつでもチェック</h3>
  <h6>いいねしたコーディネートをまとめて閲覧、また、お気に入りのユーザーはフォローして最新コーデをチェック！</h6>

</div>
<div class="box-4"></div>

</div>

<div class="under">
  <div class="under-box1"></div>
   <div class="under-box2">
     <h1>Your Closet</h1>
     <h6>おしゃれをもっとすぐそばに</h6>

   </div>

</div>