<h3 class="heading">Closet</h3>
<div class="btn">
        <%= link_to 'アイテム追加', new_item_path, class: "btn btn-outline-secondary" %>
</div>

<div class="btn">
        <%= link_to 'ユーザー情報', user_path(current_user.id), class: "btn btn-outline-secondary" %>
</div>

<% @my_items.each do |item| %>


<%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg' %>


<p>アイテム名</p>
<%= link_to item_path(item) do %>
<%= item.name %>
<% end %>

<p>詳細</p>
<%= item.detail %>

<% end %>