<h3>アイテム詳細</h3>


<%= attachment_image_tag @item, :image, format: 'jpeg', size:"300x300" %>


<%= @item.name %>

<p>詳細</p>

<%= @item.detail %>


<%= link_to "編集", edit_item_path(@item.id) %>
<%= link_to "削除", item_path(@item.id), method: :delete %>

