<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
    <div class="container">


        <nav class="navbar navbar-light  justify-content-end">
              <% if user_signed_in? %>
            <ul class="navbar-nav">
                 <div class="row">
              <li class="nav-item col-md-3">
               <%= link_to "Styles", styles_path, class: "menu"  %>
              </li>
              <li  class="nav-item col-md-4">
               <%= link_to "MyCloset", items_path, class: "menu"  %>
              </li>

              <li  class="nav-item col-md-4">
               <%= link_to "LogOut", destroy_user_session_path, class: "menu", method: :delete %>
              </li>
              </div>
            </ul>

            <% else %>
             <ul class="navbar-nav">
                 <div class="row">
              <li  class="nav-item col-md-3">
                <%= link_to "About", about_path, class: "menu" %>
              </li>

               <li  class="nav-item  col-md-5">
                 <%= link_to "SignUp", new_user_registration_path, class: "menu" %>
               </li>
               <li  class="nav-item col-md-4">
                 <%= link_to "LogIn", new_user_session_path, class: "menu" %>
               </li>
               </div>
             </ul>
            <% end %>
        </nav>

        </div>
    </header>

    <%= yield %>
    <footer>
        <p class="text-center">Footer</p>
    </footer>
  </body>
</html>
